{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1 class="text-center mb-4">Créer un compte</h1>

            {{ form_start(registrationForm) }}

                {{ form_row(registrationForm.firstname, { 
                    label: 'Prénom',
                    attr: { class: 'form-control' }
                }) }}

                {{ form_row(registrationForm.lastname, { 
                    label: 'Nom',
                    attr: { class: 'form-control' } 
                }) }}

                {{ form_row(registrationForm.email, {
                    label: 'Adresse e-mail',
                    attr: { class: 'form-control' }
                }) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe',
                    attr: { class: 'form-control' }
                }) }}

                {{ form_label(registrationForm.agreeTerms, 
                    '<span>J\'accepte les conditions</span>', { 
                        'label_html': true 
                }) }}

                {{ form_widget(registrationForm.agreeTerms) }}
                
                {{ form_errors(registrationForm.agreeTerms) }}


                <button type="submit" class="btn btn-primary w-100 mt-3">S’inscrire</button>

            {{ form_end(registrationForm) }}

            <div class="text-center mt-3">
                <span class="text-muted">OU</span>
            </div>

            <a href="{{ path('app_login') }}" class="btn btn-outline-secondary w-100 mt-2">
                Se connecter
            </a>

        </div>
    </div>
</div>
{% endblock %}
